# std
.bin
.cache
.config
.data
result
.run
std

# direnv
.direnv

# lefthook
lefthook-local.yaml

# python
__pycache__
*.egg-info/

# django
door_tracker/db.sqlite3
door_tracker/db.sqlite3-journal
door_tracker/db.sqlite3-shm
door_tracker/db.sqlite3-wal

# doxygen
doxygen/


# nixago: ignore-linked-files
/lefthook.yml
/treefmt.toml

# misc specific files
/docs/schema.png
/docs/schema.svg
/door_tracker/credentials/
