{% load static modal %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}RoboTeam Twente RFiD Time Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'midas/base.css' %}" >
    <link rel="shortcut icon" href="{% static 'midas/logo.ico' %}"/>
    {% block head %}{% endblock %}
    <!-- Adding Htmx -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js" integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.12/dist/cdn.min.js" integrity="sha256-V7N9fK6aJ9ll/a5K3MhEJF39xAfmVa7oXc//OggDaj8=" crossorigin="anonymous"></script>
  </head>

  <body x-data="{ sidebarOpen: false }" :class="{ body: true, 'sidebar--open': sidebarOpen }">
    <header class="body__header">
      <div class="body__logo-wrapper">
        <a href="{% url 'midas:index' %}" class="body__logo">
          <img src="{% static 'midas/logo.svg' %}" alt="RoboTeam Twente Logo" width="50" height="50">
          RoboTeam Twente
        </a>
      </div>

      <span class="body__user-status">{{user_status}}</span>
      <div class="body__user">
        <span>Welcome, {{user.get_full_name}}</span>
      </div>
      <button class="sidebar-toggle" @click="sidebarOpen = !sidebarOpen">☰</button>

    </header>


    <div class="body__layout">
      <nav class="sidebar">
        <button class="sidebar__back" @click="sidebarOpen = !sidebarOpen">←</button>

        <h3 class="sidebar__section">USER PAGES</h3>
        <a class="sidebar__button" href="{% url 'midas:user_profile' %}">Profile</a>
        <a class="sidebar__button" href="{% url 'midas:index' %}">Sessions</a>
        <a class="sidebar__button" href="{% url 'midas:user_statistics' %}">Statistics</a>

        {% if user.is_superuser %}
          <h3 class="sidebar__section">ADMIN PAGES</h3>
          <a class="sidebar__button" href="{% url 'midas:team_overview' %}">Team Overview</a>
          <a class="sidebar__button" href="{% url 'midas:user_overview' %}">User Overview</a>
          <a class="sidebar__button" href="{% url 'admin:index' %}">Admin Dashboard</a>
        {% endif %}

        <h3 class="sidebar__section">ACTIONS</h3>
        <a class="sidebar__button" href="{% url 'midas:export_user' %}">Export Sessions</a>
        <a class="sidebar__button" href="{% querystring modal='checkin' %}" hx-boost="true">Remote Checkin</a>
        <a class="sidebar__button" href="{% querystring modal='checkout' %}" hx-boost="true">Remote Checkout</a>
        <a class="sidebar__button" href="{% url 'midas:logout' %}">Log Out</a>
      </nav>

      <main class="content-wrapper">
        {% block main %}
          <section class="card">
            <h1 class="role-title">{{ user_role }}</h1>
          </section>
        {% endblock %}
      </main>

    </div>

    {% modal 'checkin' 'midas:checkin' 'Remote Check-in' %}
      <p>Do you want to remotely check in with current time?</p>
      <div class="modal__actions">
        <button class="modal__action modal--primary">Checkin</button>
        <a class="modal__action modal--secondary" href="{% querystring modal=None %}" hx-boost="true">Cancel</a>
      </div>
    {% endmodal %}

    {% modal 'checkout' 'midas:checkout' 'Remote Checkout' %}
      <label for="checkoutTime">Select Checkout Time:</label>
      <input type="datetime-local" id="checkoutTime" name="time" required step=1 value="{% now 'Y-m-d\TH:i' %}" max="{% now 'Y-m-d\TH:i' %}" style="width: 100%;" />
      <div class="modal__actions" style="margin-top: 1rem;">
        <button type="submit" class="modal__action modal--primary">Checkout</button>
        <a class="modal__action modal--secondary" href="{% querystring modal=None %}" hx-boost="true">Cancel</a>
      </div>
    {% endmodal %}

    <div class="messages">
      {% for message in messages %}
        <p{% if message.tags %} class="messages__item messages--{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
  </body>
</html>
