{% extends 'midas/base.html' %}

{% block title %}Checked-In Dashboard{% endblock %}

{% block head %}
  <style>
    .recent-scans {
      border-collapse: separate;
      width: 100%;
      border: 0.5px solid rgb(210, 208, 208);
      border-radius: 4px;
      list-style: none;
      padding: 0;
      margin: 0;
      border-spacing: 0;
    }
    .recent-scans th,
    .recent-scans td {
      padding: 8px 16px;   /* space inside cells */
      text-align: left;    /* aligns text nicely */
    }

    .recent-scans th {
      background: #f2f2f2;
      font-weight: bold;
    }
  </style>
{% endblock %}

{% block main %}
  <main class="card">
    <h2 class="card__title">Recent Tag Scans</h2>


    <table class="recent-scans">
      <thead>
        <tr>
          <th>Tag Check-in</th>
          <th>Tag Check-out</th>
          <th>Check-in Time</th>
          <th>Check-out Time</th>
        </tr>
      </thead>
      <tbody>
        {% for session in sessions %}
          <tr class="recent-scans__item">
            <td>{{ session.checkin__tag__name | default:"-"}}</td>
            {% if session.checkout__type == 'remote' %}
              <td>remote</td>
            {% else %}
              <td>{{ session.checkout__tag__name | default:"-"}}</td>
            {% endif %}
            <td>{{ session.checkin__time|date:"Y-m-d H:i" }}</td>
            <td>{{ session.checkout__time|date:"Y-m-d H:i"|default:"-" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </main>
{% endblock %}
