{% extends 'midas/base.html' %}

{% block title %}Checked-In Dashboard{% endblock %}


{% block main %}
  <!-- Purple title above the white card -->
  <h1 class="page-title">Recent Sessions</h1>

  <!-- White card container -->
  <main class="card recent-scans__wrapper">
    <div class="recent-scans__scroll">
      <table class="recent-scans">
        <thead>
          <tr>
            <th style="text-align: right">Check-in Time</th>
            <th>Check-in Tag</th>
            <th style="text-align: right">Check-out Time</th>
            <th>Check-out Tag</th>
          </tr>
        </thead>
        <tbody>
          {% for session in sessions %}
            <tr class="recent-scans__item">
              <!-- CHECKIN -->
              <td style="text-align: right">{{ session.checkin__time|date:"Y-m-d H:i" }}</td>
              {% if session.checkin__type == 'remote' %}
                <td>remote</td>
              {% else %}
                <td>{{ session.checkin__tag__name | default:"-" }}</td>
              {% endif %}

              <!-- CHECKOUT -->
              <td style="text-align: right">{{ session.checkout__time|date:"Y-m-d H:i"|default:"-" }}</td>
              {% if session.checkout__type == 'remote' %}
                <td>remote</td>
              {% else %}
                <td>{{ session.checkout__tag__name | default:"-" }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}
