/*** constants ***/

:root {
  --bg-default: #f3f3f3;
  --color-default: black;

  --bg-primary: #4b0082;
  --fg-primary: white;

  --bg-primary-emphasis: #360060;

  --bg-secondary: white;
  --fg-secondary: black;

  --bg-success: rgb(221, 255, 221);
  --fg-success: black;

  --padding-default: 1rem;

  --radius-default: 0.5rem;
  --radius-small: 0.25rem;
}

/*** reset ***/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/*** base html styles ***/

body {
  background: var(--bg-default);
  color: var(--fg-default);
}

header {
  display: grid;
  grid-template:
    '. logo .'
    '. status .'
    '. user .'
    / 1fr auto 1fr;

  align-items: center; /* vertically center */
  text-align: center;

  background: var(--bg-primary);
  color: var(--fg-primary);

  padding: 0.5rem 1rem;
  gap: 1rem;
}

@media (width >= 600px) {
  header {
    grid-template: 'logo status user'/1fr auto 1fr;
    text-align: inherit;
  }
}

header {
  .logo {
    grid-area: logo;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .user-status {
    grid-area: status;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .user {
    grid-area: user;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    column-gap: 1rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

nav {
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-items: center;

  background: var(--bg-secondary);
  color: var(--fg-secondary);

  padding: 0.5rem;
  gap: 0.5rem;

  border-bottom: 1px solid #ddd;

  a {
    background: var(--bg-primary);
    color: var(--fg-primary);
    &:hover {
      background: var(--bg-primary-emphasis);
    }

    text-decoration: none;

    padding: 0.25rem 0.5rem;
    border-radius: var(--radius-small);
  }
}

body > .messages {
  position: absolute;
  right: 0px;
  bottom: 0px;

  margin: 1rem;
  gap: 0.25rem;

  display: flex;
  flex-direction: column;

  animation: 250ms ease-in 3s forwards fade-out;

  & > * {
    padding: 0.5rem 1rem;
    margin: 0px auto;

    border-radius: var(--radius-default);
    border: 1px solid;
  }

  .message--success {
    background: var(--bg-success);
    color: var(--fg-success);
    border-color: var(--fg-success);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body > main {
  max-width: 80rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 50%);

  .modal__title {
    margin-top: 0;
  }

  .modal__content {
    background: var(--bg-secondary);
    color: var(--fg-secondary);

    padding: var(--padding-default);
    border-radius: var(--radius-default);

    min-width: 25rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 30%);

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .modal__actions {
    gap: 10px;

    .modal__action {
      padding: 10px 15px;

      border: none;
      border-radius: 4px;

      cursor: pointer;
      text-decoration: none;

      &.modal--primary {
        background: var(--bg-primary);
        color: var(--fg-primary);
      }

      &.modal--secondary {
        background: var(--bg-default);
        color: var(--fg-default);
      }
    }
  }
}
