{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}RoboTeam Twente RFiD Time Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'webui/base.css' %}" >
    {% block head %}{% endblock %}
  </head>

  <body>
    <header>
      <a href="{% url 'index' %}" class="logo">🤖 RoboTeam Twente</a>
      <span class="user-status">{{user_status}}</span>
      <div class="user">
        <span>Welcome, {{user.get_full_name}}</span>
        <a href="{% url 'logout' %}">Log out</a>
      </div>
    </header>

    <nav>
      <a class="button" href="#" onclick="openCheckoutModal()">Remote Checkout</a> <!-- TODO: this doesn't link anywhere yet -->
      <a class="button" href="{% url 'user_statistics' %}">Statistics</a>
      <a class="button" href="{% url 'user_profile' %}">Profile</a>
      <a class="button" href="{% url 'export_user' %}">Export to CSV</a>
    </nav>

    {% block main %}
      <main class="card">
        <p>Hello World</p>
      </main>
    {% endblock %}

    <div class="messages">
      {% for message in messages %}
        <p{% if message.tags %} class="message--{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
  </body>
</html>
