name: Release

on:
  workflow_dispatch:

permissions:
  contents: write

# abort previous releases for the same tag
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - name: Install dependencies
        run: nix develop -c uv sync --locked

      - name: Create the release
        shell: nix develop -c bash -eux {0}
        run: |
          git config user.name 'Cocogitto'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git fetch --unshallow
          cog bump --auto

      - name: Build & upload the container image
        shell: nix develop -c bash -eux {0}
        env:
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: |
          docker login -u roboteamtwente -p "$DOCKERHUB_TOKEN"
          just deliver

      - name: Publish the release
        shell: nix develop -c bash -eux {0}
        env:
          GH_TOKEN: ${{ github.token }}
          BRANCH: ${{ github.ref_name }}
        run: |
          tag="v$(cog get-version)"
          git push origin "$BRANCH" "$tag"
          gh release create "$tag" --notes "$(cog changelog --at "$tag")"
